[Unit]
Description= EP Arduino Service Data Collector
After=network.target

[Service]
ExecStart=python3 main.py
WorkingDirectory=/home/user/arduino_data_collector_pristavka/
Type=simple
Restart=always
RestartSec=10
StandardOutput=null

User=user

[Install]
WantedBy=multi-user.target
