[Unit]
Description= EP Arduino Service Data Collector
After=network.target

[Service]
ExecStart=python main.py
WorkingDirectory=/home/user/arduino_data_collector_pristavka
Type=simple
Restart=always
RestartSec=10
StandardOutput=null

User=simurg_app

[Install]
WantedBy=multi-user.target